priority -1

snippet ( "Paired parentheses ()" iA 
(${1:${VISUAL:}})$0
endsnippet

snippet [ "Paired square brackets []" iA
[${1:${VISUAL:}}]$0
endsnippet

snippet { "Paired curly brackets {}" iA
{${1:${VISUAL:}}}$0
endsnippet
